body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.geo {
  position: absolute;
  top: 20px;
  right: 20px;
}

.geo__weather {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.weather__icon {
  height: 40px;
  margin-right: 5px;
}

.clock {
  font-size: 60px;
  margin-top: 200px;
}

.greeting,
.to-do {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting__input,
.to-do__input {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  border-bottom: 1px solid white;
}

.greeting__input:focus,
.to-do__input:focus {
  outline: none;
}

.greeting__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.greeting__form {
  display: none;
}

.greeting__input::placeholder {
  font-size: 15px;
  color: white;
  font-style: italic;
}

.to-do__input {
  margin-top: 15px;
  width: 250px;
}

.greeting__text {
  font-size: 20px;
  display: none;
  cursor: pointer;
}

.to-do {
  margin-top: 50px;
}

.to-do__list {
  list-style: none;
  padding: 0;
}

.show {
  display: block;
}

.to-do__list li button {
  font-size: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
}

.to-do__list li button:active {
  outline: none;
}
